.enter {
  transform: translateY(-10%);
  opacity: 0.01;
}
.enterActive {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms ease-in;
}
.leave {
  transform: translateY(0);
  opacity: 0;
}
.leaveActive {
  transform: translateY(-10%);
  opacity: 0.01;
  transition: all 500ms ease-in;
}
